# For turbo builds, prefixes with NEXT_PUBLIC_ are automatically considered to force a rebuild
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_SUPABASE_URL=
# Make sure to enable RLS and policies to use this key in client
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
PLUNK_API_KEY=
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=
ARCJET_KEY=